body {
    font-family: "Helvetica", serif;
}

.header-approval .title-approval {
    color: #87AA74;
    margin: 100px 35px 35px 0;
    text-align: center;
}

.btn-document {
    border-radius: 50%;
}

.text-center {
    text-align: center;
}

.form-table {
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    border: 1px solid #ccc;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.form-table th,
.form-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.form-table th {
    text-align: center;
    background-color: #B9DAA4;
    border: 1px solid rgba(0, 0, 0, 0.108);
    color: black;
}

.form-table tr {
    color: black;
}

.form-table tr:hover {
    background-color: #e0e0e0e6;
    transition: 0.3s;
}

.container .censor-pagination {
    text-align: center;
    margin: 20px 0;
}

.text-center button:disabled {
    background-color: #E6E4E4;
    color: black;
}

.modal-body {
    color: red;
}

.modal-accept {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.title-date-stages {
    color: #87AA74;
    margin-bottom: 20px;
    text-align: center;
}

.modal-accept-content {
    border-radius: 10px;
    text-align: center;
    background-color: #FEFEFE;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.stages-name {
    float: left;
    color: #619F3D;
}

.stages {
    margin-bottom: 50px;
}

.cancel-form {
    display: none;
    margin-top: 20px;
}

.approval-form {
    display: none;
    margin-top: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.pagination button {
    margin: 0 5px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #3498DB;
    background-color: #3498DB;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #2980B9;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #95A5A6;
    border: 1px solid #95A5A6;
}

.pagination span {
    margin: 0 5px;
    font-weight: bold;
    color: #3498DB;
}

.btn-document {
    border-radius: 50%;
}
